/build/
.project
.classpath
.settings/
.ejbModule/
node_modules/
.idea/
config.json
dynamic_rules.json
.env
super-linter-summary.md
.DS_Store
elastic-operation/__pycache__/elastic_config.cpython-314.pyc
elastic-operation/__pycache__/elastic_config.cpython-313.pyc
